<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
//from.jsp
<%@ page language="java" contentType="text/html; charset=UTF-8"%>
<html>
  <body>
    欢迎进入视觉组论坛🐹
    <form action="page.jsp">
      请输入你的账号🤪：<input name="account" type="text"><BR>
      请输入你的密码🥳：<input name="password" type="password"><BR>
      <input type="submit" value="登录">
      </form>
  </body>
</html>

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
